@{
    ViewData["Title"] = "Map";
}
<h1>@ViewData["Title"]</h1>

<iframe src="https://www.google.com/maps/d/embed?mid=142nqMIgmK3tCarABCmdvq8MHGlNZZPMB" class="map" width="100%" height="800vh"></iframe>